body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'sans-serif';
    background-color: #F9F9FD;
}

#header{
    
    background-color: #151B2B;
    color: #FFFFFF;

    &__banner{
        padding-top: 15px;
        height: 100px;
        padding-left: 100px;
    }

    &__content{
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__text{
            padding-top: 80px;
            

            display: flex;
            width: 40%;
            flex-direction: column;
            align-items: left;

            transform: translateY(40px);
            transition: all 400ms ease-in-out;

            &__title{
                font-size: 46px;
                font-weight: 600;
                color: #FFFFFF;
            }

            &__description{
                font-size: 25px;
                color: #FFFFFF;
            }

            &__more{
                color: #8686B2;
                font-size: 16px;
            }

            &__bouton{
                display: flex;
                flex-direction: row;
                align-items: left;
                
                &__github{
                    display: flex;
                    align-items: center;
                    margin-right: 30px;
                    padding: 10px;
                    background-color: #454658;
                    border-radius: 5px;

                    &__svg{
                        padding-right: 10px;
                    }
                }

                &__discord{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    background-color: #6578C0;
                    border-radius: 5px;

                    &__svg{
                        padding-right: 10px;
                    }
                }

            }
        }

        &__illustration{
            padding-top: -100px;
            padding-bottom: 100px;
        }

    }

}

#demo{

    

    display: flex;
    flex-direction: column;
    align-items: center;

    &__hdiw{

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 200px;
        margin-right: 200px;
        text-align: center;

        &__title{
            margin-top: 70px;
            font-size: 32px;
        }

        &__picture{
            margin-top: 30px;
        }

    }

    &__usage{
        
        padding-top: 150px;

        &__header{
            display: flex;
            align-items: center;
            flex-direction: column;

            background: (url(images/usage.png));
            height: 190px;
            width: 800px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bouton{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FFFFFF;

        &__github{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-right: 15px;
            padding: 10px;
            background-color: #454658;
            border-radius: 5px;

            &__svg{
                margin-right: 10px;;
            }

        }

        &__discord{
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 10px;
            background-color: #6578C0;
            border-radius: 5px;

            &__svg{
                margin-right: 10px;;
            }

        }

    }

}

#capacity{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 90px;

    & h3{
        font-size: 24px;
        color: #454658;
    }

    & p{
        font-size: 16px;
    }

    & .more{
        font-size: 12px;
        color: #5D64D2;
    }

    &__first{
        display: flex;
        flex-direction: row;
        align-items: center;

        &__deploy{
            width: 400px;
            margin-right: 125px;
        }

        &__resilience{
            width: 400px;
            margin-left: 125px;
        }
    }

    &__second{

        padding-top: 50px;

        display: flex;
        flex-direction: row;
        align-items: top;

        &__tools{
            width: 400px;
            margin-right: 125px;
        }

        &__extensible{
            padding-top: -30px;
            margin-left: 125px;
            width: 400px;
        }

    }

}

#promo{
    
    height: 450px;

    & h2{
        text-align: center;
        font-size: 32px;
        color: #454658;
        margin-top: 150px
    }

}

#footer{

    &__banner{
        background-color: #151B2B;
        height: 170px;
    }

}